<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
        <div id="map"></div>
        <div id = "slider">
            <h2>Time</h2>
            <div class="row align-items-center">
            <div class="col-sm-2"><p id="value-time"></p></div>
            <div class="col-sm"><div id="slider-time"></div></div>
        </div>
        </div>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://unpkg.com/d3-simple-slider"></script>
        <script src="/static/map.js"></script>
        <script>
            chart({{data | safe}});
        </script>
	</body>
</html>
